:root {
  --main-color: black;
  --track-color: #ddd;
}

@keyframes slideup {
  from {
    scrollbar-width: none;
    top: 100%;
  }

  to {
    top: calc(50% - 300px);
  }
}

@keyframes slidedown {
  from {
    top: calc(50% - 300px);
    visibility: visible;
  }

  to {
    top: 100%;
    visibility: hidden;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 0.5;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 0.5;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splangy-it-outermost {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-weight: bold;
}

#splangy-it-header {
  width: 90%;
  max-width: 1240px;
  height: 48px;
  margin: 0px auto;
  margin-top: 16px;
  margin-bottom: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#splangyit-main-content {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
}

#estimate-map-div {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px;
}

#estimate-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#need-more-info {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: calc(100% - 200px);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.more-info-content {
  max-width: 410px;
  text-align: center;
}

#more-info-pink {
  color: #ff385c;
  margin-top: 24px;
}

#pink-it {
  font-size: 48px;
  font-weight: bold;
  color: #ff385c;
}

#could-earn {
  font-size: 48px;
  font-weight: bold;
}

#big-gains {
  font-size: 75px;
  font-weight: bold;
  margin: 20px;
}

#bold-nights-button {
  font-weight: bold;
  text-decoration: underline;
  font-size: 15px;
}

#bold-nights-button:hover {
  cursor: pointer;
}

#days-bar {
  margin-top: 48px;
  position: relative;
  width: 406px;
  height: 40px;
}

#days-bar:hover {
  cursor: pointer;
}


#map-container {
  border-radius: 24px;
  width: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  border: 16px solid white;
  border-radius: 32px;
}

.days-slider {
  width: 100%;
}

.days-slider-track {
  top: 11px;
  height: 4px;
  background: var(--track-color);
}

.days-slider-track.days-slider-track-0 {
  background: var(--main-color);
}

.days-slider-thumb {
  background: var(--main-color);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  outline: none;
  position: relative;
}

#nights-floater-black {
  width: 120px;
  height: 42px;
  position: absolute;
  top: -76px;
  left: -46px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: black;
  visibility: hidden;
}

#nights-floater-white {
  width: 1200px;
  height: 42px;
  position: relative;
  top: -77px;
  left: -500px;
  z-index: 3;
  background-color: white;
  visibility: hidden;
}

.days-slider-thumb:active {
  width: 30px;
  height: 30px;
  top: -2px;
}

.days-slider-thumb:active #nights-floater-black {
  visibility: visible;
}

.days-slider-thumb:active #nights-floater-white {
  visibility: visible;
}

#city-search-box {
  width: 410px;
  height: 64px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: 1px solid #DDD;
  border-radius: 36px;
  background-color: white;
  margin-top: 12px;
}

#city-search-box:hover {
  cursor: pointer;
}

#search-icon-pink {
  display: block;
  width: 16px;
  width: 16px;
}

#like-it-is {
  display: flex;
}

#position-search {
  width: 20px;
  height: 64px;
  display: flex;
  margin: 0px 16px;
}

#position-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#position-listing-type {
  font-weight: 400;
  color: #717171;
  display: flex;
}

#display-city {
  text-align: left;
  margin-bottom: 2px;
}

#ready-setup {
  display: flex;
  align-items: center;
}

#splangybnb-setup {
  width: 200px;
  height: 48px;
  min-width: 200px !important;
  background-size: 200% 200% !important;
  border: none;
  border-radius: 6px;
  opacity: 1 !important;
  transition: opacity 1.25s ease 0s !important;
  background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

#splangybnb-setup:hover {
  cursor: pointer;
}

#add-spot-img {
  display: block;
  margin-right: 4px;
}

#setup-label {
  color: white;
  font-size: 18px;
}

#ready-margin {
  margin-right: 24px;
  font-size: 16px;
}

#splangyit-icon-pink {
  width: 32px;
  height: 32px;
}

#splangy-it-gohome:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  #estimate-map-div {
    flex-direction: column;
  }

  #estimate-container {
    width: 100%;
  }

  #map-container {
    width: 100%;
    height: 400px;
    margin-left: -16px;
  }

  #days-bar {
    width: 100%;
  }

  #city-search-box {
    width: 100%;
  }

  #need-more-info {
    height: calc(100% - 70px);
  }
}

#blackout {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.5;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#tell-us-modal {
  /* animation-duration: 2s;
  animation-name: slideup; */
  width: 480px;
  height: 600px;
  background-color: white;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 240px);
  z-index: 12;
  border-radius: 16px;
  visibility: hidden;
  opacity: 1;
  overflow: hidden;
}

#close-modal {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 14;
  top: 7.5px;
  left: 8.5px;
  border: none;
}

#modal-inside-wrapper {
  width: 100%;
  height: 100%;
}

#modal-header {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #DDD;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

#close-modal-background {
  width: 32px;
  height: 32px;
  opacity: 0.7;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 16px;
  z-index: 13;
}

#close-modal-background:hover {
  cursor: pointer;
  background-color: rgb(239, 239, 239);
}

#modal-rest {
  width: 448px;
  height: fit-content;
  padding: 0 16px;
  /* padding-right: 16px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #DDD;
}

#address-input-div {
  width: 100%;
  border-bottom: 1px solid #DDD;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

#address-input {
  display: block;
  width: 398px;
  height: 48px;
  border: 1px solid #DDD;
  border-radius: 32px;
  padding-left: 48px;
  margin-bottom: 40px;
  margin-top: 24px;
  font-size: 18px;
}

#address-input::placeholder {
  font-size: 18px;
}

#pin-div {
  position: absolute;
  top: 100px;
  left: 16px;
}

#address-label {
  margin-top: 40px;
  margin-left: 2px;
}



#easy-setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin-top: 112px;
  margin-bottom: 96px;
}

#easy-setup-title {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 36px;
}

#easy-setup-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  width: 100%;
}

.detailBoxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 24px 16px;
}

.detailBoxHeading {
  font-size: 18px;
  margin-bottom: 16px;
}

.detailBoxContent {
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  opacity: 0.8;
}

#easy-webp {
  width: 100%;
}

@media (max-width: 1280px) {
  #easy-setup-title {
    font-size: 36px;
  }
}

@media (max-width: 1125px) {
  #easy-setup-details {
    flex-direction: column;
  }
}

@media (max-width: 745px) {
  #easy-setup-title {
    font-size: 26px;
  }

  #easy-webp {
    width: 1280px;
  }
}

@media (max-width: 575px) {
  #easy-setup-title {
    font-size: 20px;
  }
}

#aircover-logo {
  width: 180px;
}

#footer-pad {
  width: 24px;
}

#air-cover {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top-to-bottom {
  font-size: 48px;
}

#cover-header {
  width: 100%;
  min-width: 804px;
  max-width: 804px;
  height: 51px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  border-bottom: 2px solid #DDD;
  color: #2c2c2c;
  margin-top: 48px;
}

.left-header {
  grid-column-start: 1;
  grid-column-end: 2;
}

.rightmost-col {
  grid-column-start: 3;
  grid-column-end: 4;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.left-col {
  font-size: 22px;
  font-weight: 400;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.top-row {
  width: 100%;
  min-width: 804px;
  max-width: 804px;
  height: 51px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  font-size: 22px;
  font-weight: 400;
  justify-self: center;
  margin-top: 24px;
}

.cover-icons {
  margin: 0 auto;
}

.second-row {
  width: 100%;
  min-width: 804px;
  max-width: 804px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  border-bottom: 2px solid #DDD;
  padding-bottom: 24px;
}

.second-content {
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  grid-column-start: 1;
  grid-column-end: 2;
}

.single-row {
  font-size: 18px;
  color: #222;
  opacity: 0.8;
}

.add-border {
  border-bottom: 2px solid #DDD;
}

.no-border {
  border-bottom: none;
}

@media (max-width: 1200px) {
    #top-to-bottom {
        font-size: 40px;
      }
}


@media (max-width: 1130px) {
  #air-cover {
    width: 100%;
    justify-content: flex-start;
  }

  #cover-header {
    min-width: 0px;
    max-width: 2000px;
  }

  .top-row {
    width: 100%;
    min-width: 0px;
    max-width: 2000px;
    padding-left: 16px;
  }

  .second-row {
    width: 100%;
    min-width: 0px;
    max-width: 2000px;
    padding-left: 16px;
  }

  .second-content {
    grid-column-end: 6;
  }
}

@media (max-width: 800px) {
  #top-to-bottom {
    font-size: 32px;
  }
}

@media (max-width: 650px) {
  #top-to-bottom {
      font-size: 23px;
    }
}

@media (max-width: 960px) {
  #air-cover {
    margin-bottom: 100px;
  }
}

@media (max-width: 800px) {
  .left-col, .rightmost-col {
    font-size: 14px;
  }
}

/* #map-left-border {
  height: 100%;
  width: 16px;
  background-color: red;
  position: absolute;
  top: 0px;
  left: -4px;
  border-bottom-right-radius: 32px;
} */
