#reviews-outer {
  /* background-color: red;*/
  height: 366px;
  width: 86%;
  background-color: transparent;
  margin-top: 24px;
}

#rendered-reviews-container {
  display: flex;
  flex-wrap: wrap;
}

#review {
  display: flex;
  flex-direction: column;
}

#upper-rev {
  display: flex;
}

#name-date-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#avg-score-and-num-reviews {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: flex-start;
}

.review {
  width: 50%;
  height: 366px;
  background-color: red;
}

#review-star-div {
  margin-right: 8px;
}

#reviews-rating-div {
  font-size: 1.2em;
    font-weight: bold;
}

.reviews-dot-spacer-div {
  font-size: 1em;
}

#num-reviews-div {
  font-size: 1.2em;
  margin-right: 4px;
    font-weight: bold;
}

#review-text-div {
  font-size: 1.2em;
  font-weight: bold;
}

.img-container {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
