.spot-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    top: 100px;
    padding: 0px;
    padding-bottom: 120px;

    font-family: 'Roboto', sans-serif;
}

#inner-spot-cont {
  width: 86%;
  padding-bottom: 32px;
}

#header-bottom {
  display: flex;
  align-items: center;
}

#name-div {
  margin: 0px;
  margin-bottom: 12px;
}

#spot-name {
  margin: 2px;
}

#star-div {
  margin-right: 4px;
}

#rating-div {
  margin: 4px;
}

.dot-spacer {
  height: 10px;
  width: 10px;
}

.dot-spacer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
}

#reviews-div {
  padding: 0px;
  margin: 0px;
}

#preview-images {
  width: 100%;
  height: 500px;
  background-color: white;
  margin-top: 20px;
  border-radius: 16px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0px;
  overflow: hidden;
}

#big-boy {
  grid-row-start: span 2;
  grid-column-start: span 4;
}

#upper-left {
  grid-row-start: span 1;
  grid-column-start: span 2;
}

#upper-right {
  grid-row-start: span 1;
  grid-column-start: span 2;
}

#lower-left {
  grid-row-start: span 1;
  grid-column-start: span 2;
}

#lower-right {
  grid-row-start: span 1;
  grid-column-start: span 2;
}

#user-options-menu {
  border-top: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(221,221,221);
  width: 86%;
  display: flex;
  padding: 8px;
  justify-content: space-evenly
}

.spotButtons {
  background-color: #FF385C;
  border: none;
  color: white;
  width: 140px;
  height: 60px;
  border-radius: 32px;
  font-size: 1.5em;
}

.spotButtons:hover {
  cursor: pointer;
}

#create-rev-form {
  width: 400px;
  height: 400px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 16px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

#review-submit {
  background-color: #FF385C;
  border: none;
  border-radius: 30px;
  width: 80px;
  height: 30px;
  color: white;
  margin-left: 16px;
}

.errors {
  color: red;
  list-style: none;
}

#path-tester {
  position: relative;
  z-index: 300;
}

#booking-outer {
  width: 100%;
  border-top: 1px solid #DDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

#booking-form {
  width: 373px;
  height: fit-content;
  border: 1px solid #DDD;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 12px;
  margin-top: 24px;
  padding: 24px;
}

#booking-reviews {
  display: flex;
  height: fit-content;
  align-items: center;
}

#price-review-div {
  display: flex;
  justify-content: space-between;
}

#price-night-div {
  display: flex;
  height: fit-content;
  align-items: flex-end;
}

#night-div {
  position: relative;
  color: #222222;
  font-size: 16px;
  margin-left: 4px;
  opacity: 0.8;
  top: -1px;
}

#booking-price-div {
  font-size: 22px;
}

#outer-form-inputs {
  display: flex;
  width: 100%;
  margin-top: 16px;
  border: 1px solid #B0B0B0;
  border-radius: 12px;
  overflow: hidden;
}

.booking-inputs {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 56px;
  border: none;
  padding: 12px;
}

.booking-inputs:focus {
  outline: none;
}

.booking-input-divs {
  width: 50%;
  position: relative;
  height: 56px;
}

.booking-input-labels {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  left: 12px;
  top: 12px;
}

#booking-input-left {
  border-right: 0.5px solid #B0B0B0;
}

#booking-input-right {
  border-left: 0.5px solid #B0B0B0;
}

#booking-submit-button {
  background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%) !important;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 12px;
  margin-top: 16px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

#booking-submit-button:hover {
  cursor: pointer;
}

#below-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid #DDD;
}

#booking-total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#booking-total-total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  margin-top: 24px;
}

.booking-errors {
  font-size: 12px;
  color: red;
  text-align: center;
  margin-bottom: 4px;
}

.booking-input-labels {
  font-weight: bold;
}
