#coming {
  color: red;
  font-size: 8em;
  display: block;
}

#coming-to-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 30%;
}
